html{
	margin-top: 0 !important;
}
body{

	a{
	text-decoration: none;
	// color: initial;
	}
	background-color: $background-global;
	//ooooo faanccy
	@include fadein;
}

.content-wrapper{
	overflow-x: hidden;
	// @include tablet{
	// 	overflox-x: scroll;
	// }
}
//probably not best practice for font hierarchy. decorator classes? mixins?
h1{
	font-family: $font-gothic;
	font-size: 56px;
	font-weight: 200;
}

h2{
	font-family: $font-headings;
	font-size: 48px;
	font-weight: 200;
}

a{

}

p{

}

