html{
	margin-top: 0 !important;
}
body{

	a{
	text-decoration: none;
	// color: initial;
	}
	background-color: $background-global;
	//ooooo faanccy
	@include fadein;
}

// .content-wrapper{
// 	overflow-x: hidden;
// 	// @include tablet{
// 	// 	overflow-x: auto;
// 	// 	overflow-y: hidden;
// 	// }
// }
//probably not best practice for font hierarchy. decorator classes? mixins?
h1{
	font-family: $font-gothic;
	font-size: 56px;
	font-weight: 200;
}

h2{
	font-family: $font-headings;
	font-size: 48px; ;
	font-weight: 200;
}



a{

}

p{

}



hr{
	margin-top: $section-spacer-default - 32px;
	margin-right: $container-margin-large;
	margin-left: $container-margin-large;
	border: 1px solid $color-swatch-headstand-2;
}

