body{
	a{
	text-decoration: none;
	// color: initial;
	}
	background-color: $background-global;

}

//probably not best practice for font hierarchy. decorator classes? mixins?
h1{
	font-family: $font-gothic;
	font-size: 72px;
	font-weight: 200;
}

h2{
	font-family: $font-headings;
	font-size: 48px;
	font-weight: 200;
}

a{

}

p{

}

