

//==============================================================================
// Breakpoints
//==============================================================================

$mobile: 770px !default;
$tablet: 1000px !default;
$desktop: 1200px !default;
$desktop-wide: 1600px !default;


//==============================================================================
// Colors

//Raw Colors
$color-swatch-headstand-1 : teal;
$color-swatch-headstand-2 : #568203 ;
$color-swatch-headstand-3 : #296192;
$charcoal: #333333;

//Applied Colors
$background-global: white;
$text-color-primary:  $charcoal;

//==============================================================================
// fonts
//==============================================================================

$font-default: Quicksand;
$font-fallback: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-serif-fallback: Georgia, serif;
$line-height-global: initial;

//==============================================================================
// Spacing
//==============================================================================
	
// $container-margin-lg: 10rem;

//==============================================================================
// Components
//==============================================================================

//Header____________

$header-logo-visibility: hidden;
$header-affix: fixed;
$header-padding: 24px;
$header-height: 64px;

//Footer____________

$footer-height: 96px;
$footer-text-align: center;
$footer-content-justify: center;
$footer-affix: relative;

//Hero_____________


//Nav_____________


//==============================================================================
// Pages
//==============================================================================

//Generic Page_______________


//Home______________


//Posts_____________



//404______________

//==============================================================================
// FX
//==============================================================================

$fade-global: 1s;