<div class="anim-section">
	<div class="anim-section__row">
			<div class="anim-section__animation">
				<img id="animation-placeholder-1" src="http://picsum.photos/300" />
			</div>
			<span>
				{{post.meta('second-blurb')}}
			</span>
	</div> 
	<div class="anim-section__row">
			<div class="anim-section__animation">
				<img id="animation-placeholder-2" src="http://picsum.photos/301" />
			</div>
			<span>
				{{post.meta('bullet-list')}}
			</span>
	</div>
</div>