<div class="anim-section">
	<div class="anim-section__row">
			<div class="anim-section__animation">
				<img id="animation-placeholder-1" src="{{theme.path}}/src/images/karatekick.svg" />
			</div>
			<span>
				{{post.meta('second-blurb')}}
			</span>
	</div> 
	<div class="anim-section__row">
			<div class="anim-section__animation">
				<img id="animation-placeholder-2" src="{{theme.path}}/src/images/karatekick2.svg" />
			</div>
			<span>
				{{post.meta('bullet-list')}}
			</span>
	</div>
</div>