<div>
	<div>
		<div>
			<img id="animation-placeholder-1" src="http://picsum.photos/300" />
		</div>
		<div>
			<span>
				{{post.meta('second-blurb')}}
			</span>
		</div>
	</div> 
	<div>
		<div>
			<img id="animation-placeholder-2" src="http://picsum.photos/301" />
		</div>
		<div>
			<span>
				{{post.meta('bullet-list')}}
			</span>
		</div>
	</div>
</div>