<div style="background-image:url({{Image(post.meta('cta-parallax-img')).src}})">
	<div>{{ post.meta('cta-parallax-msg') }}</div>
	<div><a href="{{ post.meta('cta-parallax-link') }}">Do Thing</a></div>
</div>
