<div class="windowpane">
	{% for image in post.meta('windowpane-images') %}
		<div class="windowpane__pane" id='windowpane-{{loop.index}}'>
			<img src="{{ Image(image).src('large') }}" />
		</div>
	{% endfor %} 
</div>