.two-col{
	&__wrapper{
		display: flex;
		margin-right: $container-margin-large;
		margin-left: $container-margin-large;
		flex-direction: column;
		align-items: center;
		@include widescreen{
			flex-direction: row;
		}
	}
	&__img{
		text-align: center;
		img{
			width: 100%;
		}
		@include tablet{
			flex:100%;
			text-align: unset;
			img{
				width: unset;
			}
		} 

	}
	&__text{
		font-family: $font-text;
		font-size: 18px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 4em;		
		padding-bottom: 4em;						
		@include widescreen{
			padding: 4em;		
		}
	}
}