.anim-section{
	&__animation{
		text-align: center;
	}
	margin: $container-margin-large;
	&__row{	
		padding: $container-margin-large 48px $container-margin-large 48px ;
		display: grid;
		grid-template-columns: 50% 50%;
		margin-bottom: $container-margin-large;
		align-items: center;
		&:nth-child(2){
			background-color: teal;
			color: white;
			span{
				order: 1;
			}
			.anim-section__animation{
				order: 2;
			}
		}
		p{	
			font-family: $font-text;
			font-size: 24px;
		}
	}
}