.cta-parallax{
	height: 400px;
	background-size:cover;
	background-affix: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	&__inner{
		text-align: center;
	}
	&__msg{
		font-size: 48px;
		font-family: $font-headings;
		color: white;
		display: block;
	}
	&__link a{
		font-size: 48px;
		font-family: $font-headings;
		color: #ffffff !important;
		display: block;
		border: 2px solid white;
		padding: 24px;
		margin:24px;
		&:hover{
			background-color: rgba(255,255,255,.2);
		}
	}
}