.slider{
	&__slide{
		height: $slider-height-mobile;
		background-size: cover;
		background-position: center center;
		@include tablet {
			height: $slider-height;
			display: flex !important;
			align-items: $slider-content-vertical;
			justify-content: $slider-content-horizontal;	
		}
	}
	&__cta{
		z-index: 11;
		margin-top:80%;
		@include tablet{
			margin-right: $slider-content-margin-right;
			margin-bottom: $slider-content-margin-bottom;	
		}
	}
	&__caption{
		z-index: 11;
		position: relative;
		text-align: center;
		font-size: 3em;
		whitespace: wrap;
		font-family: $font-gothic;
		font-weight: $slider-caption-font-weight;
		color: $text-color-light;
		margin-bottom: $slider-caption-margin-bottom;
		@include tablet{
			font-size: $slider-caption-font-size;
			white-space: nowrap;
			text-align: initial;
			position: initial;
		}
	}
	&__button{
		z-index: 11;
		position: relative;
		background: $slider-button-background;
		border: $slider-button-border;
		padding: $slider-button-padding;
		color: $text-color-light;
		font-family: $font-text;
		font-size: $slider-button-font-size;
		width: $slider-button-width-mobile;
		margin: auto;
		whitespace: nowrap;
		@include tablet{
			width: unset;
			float: right;			
		}
	}
	&__scrim{//i need a better mobile solution
		z-index: 1;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		background: $slider-scrim-mobile;
		opacity: .8;
		position: absolute;
		@include tablet{
			opacity: 1;
			height: 100%;
			background: $slider-scrim;
		}
	}
}

//bem local inheritance for modified elements, no modifiers on subclass
//see https://seesparkbox.com/foundry/bem_by_example
.hero--class{//maybe i should be the global hero?
	height: $hero-height;
	background-size:100%;
	background-position: center;
	display: flex; 
	align-items: flex-end;
	justify-content: flex-end;
	padding-left: $header-padding-left;
	padding-right: $header-padding-right;
	.hero__title{
		color: white;
		margin-bottom: $slider-caption-margin-bottom;
		z-index: 11;
		position: relative;
	}
	.slider__scrim{
		height: $hero-height;
		position: absolute;
		top: 32px;//for some reason
		background: $slider-scrim-dark;
		z-index: 1;

	}
}