.hamburger{
	outline: none !important;
	justify-self: center;
	display: flex;
	@include tablet {
			display: none !important;
	}
}


.nav{
  	overflow: hidden;
    display:none;
  	height:0;
	 a {
	 	font-family: $font-headings;
	 	font-weight: $nav-link-weight;
	  color: white;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	  display: block;
	}
	&.is-active{
		  transition: height 1s ease;
	 	display: flex;
  		position: absolute;
  		background: teal;
  		width: 100%;
  		height: 400px;
  		left: 0;
  		top: 0;
  		align-items: center;
  		justify-content: center;
  	}
	@include tablet {
			display:flex;
			 height:initial;

			ul{
				display: flex;
			}
		a{
			margin-right: $nav-link-margin;
			color: $nav-link-color;;
			font-size: $nav-link-size;

		}
	}
}
.wrapper{
}
.push {
	.wrapper{
		transition: padding .3s ease;	
		padding-top: 400px;
	}
	.header__logo{
		margin-top: 400px;
		position: relative;
	}
	.hamburger{

		margin-top: 710px;
	}
}