.hamburger{
	outline: none !important;
	justify-self: center;
	display: flex;
	@include tablet {
		display: none !important;
	}
}

// apparently you can style hamburgers.js via variables
// in a hamburgers-settings.scss file. refer to docs for specifics
// overriding here just cause
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,{
	background-color: $hamburger-color !important;
}

//i only exist on desktop
.nav{
    display:none;
	a{
		font-family: $nav-link-font;
		font-weight: $nav-link-weight;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		margin-right: $nav-link-margin;
		color: $nav-link-color;
		font-size: $nav-link-size;
	}
	@include tablet {
		display:flex;
		ul{
			display: flex;
		}
	}
}

//mmenu styles
.nav--mobile{
	&.mm-spn{
		font-family: $nav-link-font;
		font-size: $nav-link-size-mobile;
	}
	&.mm-spn.mm-spn--light{
    	background: $nav-bg-mobile;
    	color: $nav-link-color-mobile;
    }
}