.parallax-gallery{
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	margin-right: $container-margin-large;
	margin-left: $container-margin-large;
	margin-bottom: $section-spacer-default * 2;
	margin-top: $section-spacer-default/2;
	display: grid;
	justify-content:center;
	@include xl{
		margin-right: $container-margin-medium;
		margin-left: $container-margin-medium;		
	}
	@include tablet{
		grid-template-columns: repeat(4, 1fr);
		margin-top: $section-spacer-default * 2;
	}
	&__img{
		width: 60vw;
		display:flex;
		flex-shrink:1;
		@include tablet{
			width: 100%;
		}
		img{
			width: 100%;
			display: block;
			// filter: saturate(0) contrast(.9);
			// mix-blend-mode:hard-light;
		}
	}

}
//(turned off for dovetail client no like)
// kinda changes the effect of this section. maybe subtle filter?
// .parallax-gallery__img:nth-child(odd){
// 	background-color: $color-swatch-headstand-3;
// }
// .parallax-gallery__img:nth-child(even){
// 	background-color: $color-swatch-headstand-4;
// }