.parallax-gallery{
	@include tablet{
		grid-template-columns: repeat(4, 1fr);
	}
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	margin-right: $container-margin-large;
	margin-left: $container-margin-large;
	margin-top: $section-spacer-default * 2;
	margin-bottom: $section-spacer-default * 2;
	display: grid;
	justify-content:center;
	&__img{
		width: 300px;
		display:flex;
		flex-shrink:1;
		@include tablet{
			width: 100%;
		}
		img{
			width: 100%;
			display: block;
			filter: saturate(0) contrast(.9);
			mix-blend-mode:hard-light;
		}
	}

}

.parallax-gallery__img:nth-child(odd){
	background-color: $color-swatch-headstand-3;
}
.parallax-gallery__img:nth-child(even){
	background-color: $color-swatch-headstand-4;
}