.parallax-gallery{
	@include tablet{
		grid-template-columns: repeat(4, 25%);
	}
	margin-right: $container-margin-large;
	margin-left: $container-margin-large;
	margin-top: $section-spacer-default * 2;
	margin-bottom: $section-spacer-default * 2;
	display: grid;
	justify-content:center;
	&__img{
		width: 300px;
		display:flex;
		flex-shrink:1;
		img{
			display: block;
			filter: saturate(0) contrast(.9);
			mix-blend-mode:hard-light;
			@include tablet{
				width: calc(100%);
			}
		}
	}

}

.parallax-gallery__img:nth-child(odd){
	background-color: $color-swatch-headstand-3;
}
.parallax-gallery__img:nth-child(even){
	background-color: $color-swatch-headstand-4;
}