.section-title{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-right: $container-margin-large;
	margin-left: $container-margin-large;
	margin-top: $section-spacer-default;
	@include tablet{
		justify-content: unset;
		margin-top: $section-spacer-default;
	}
	@include xl{
		margin-left: $container-margin-medium;
		margin-right: $container-margin-medium;		
	}
	h3{
		margin-top: 0;
		margin-bottom: $section-title-margin-bottom;
		margin-right: $section-title-horiz-spacer;
		font-family: $h3-section-title-font;
		font-size: $h3-section-title-size !important;
		font-weight: $h3-section-title-weight;	
		color: $h3-section-title-color;
	}

	h4{
		margin-top: 0;
		margin-bottom: $section-title-margin-bottom;
		font-family: $h4-section-subtitle-font;
		font-size: $h4-section-subtitle-size-mobile !important;
		font-weight: $h4-section-subtitle-weight;	
		color: $h4-section-subtitle-color;
		@include mobile{
		font-size: $h4-section-subtitle-size !important;
		}
	}

}