.windowpane{
	@include tablet{
		width: 100%;		
		grid-row-gap: 40px;
		grid-column-gap: 40px;
	}
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	// height: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	&__pane{
		@include mobile{
			width: $windowpane-pane-width ;	
			height: $windowpane-pane-height;
		}
		width: $windowpane-pane-width/2 ;	
		height: $windowpane-pane-height/2;
		overflow: hidden;
		text-align: center;
		&:nth-child(even){
			margin-top: 48px;
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		background-size: cover;	
		background-repeat: no-repeat;
		background-position: center;
	}
}