.wysiwyg{
	@include mobile{
		font-size: $home-intro-text;
		background-size: 100% 100%;
		padding-top: $section-spacer-default;
	}
	@include xl{
		padding-left: $container-margin-medium;
		padding-right: $container-margin-medium;		
	}
	font-size: $home-intro-text-mobile;
	background: $intro-paragraph-bg;
	overflow: visible !important;
	background-size: auto 100%;
	font-family: $font-text;
	color: $intro-paragraph-color;
	font-weight: $home-intro-text-weight;
	padding-left: $container-margin-large;
	padding-right: $container-margin-large;
	padding-top: $section-spacer-default/2;
	// padding-bottom: $section-spacer-default * 2;
	padding-bottom: $section-spacer-default * 1.5;
	h1{
		margin-top:0;
		font-size: $intro-paragraph-header-mobile;
		@include tablet{
			font-size: $intro-paragraph-header;
		}
	}
}