.footer{
	height: 300px;
	background-color: $color-swatch-headstand-2;
	display: flex;
	flex-direction: column;
	&__wrapper{
	@include tablet{
		display: flex;
		flex-direction: row;
		}		
	}

	&__social{
		display:flex;
		justify-content: space-between;
		&-wrapper{
			color: white;
			text-align: center;
			width: 100%;	
			margin-top: 48px;
			padding-left: 16px;
			padding-right: 16px;;				
			@include tablet{
				width: 50%;	
				padding-left:48px;
				padding-right: 48px;
				margin-bottom: unset;				
			}
			@include widescreen{
				padding-left: $container-margin-large;
				padding-right: $container-margin-large;		
			}
			h2{
				@include tablet{
					font-size: 3em ;// nonsense that Zoom plugin tries to hijack this
				}
				font-size: 2em ;
				font-family: $font-gothic !important;	
			}
		}
		&-logo svg{
			@include tablet{
				font-size: 56px;
			}
			font-size: 48px;
		}
	}
	&__logo{
		height: 88px;
		align-self: center;
		justify-self: center;
		margin: auto auto 0 auto;
		&-wrapper{
		height: 100%;
		width: 50%;
		display: none;
		@include tablet{
			display: flex;
		}
		}
	}
}
.copyright{	
	color: white;
	text-align: center;
	align-self: center;
	display: flex;
	margin: auto;
	font-family: $font-text;
}

