.header{
	z-index: $header-z;
	position: $header-affix-page;
	background: $header-bg;
	width: 100%;
	height: $header-height-mobile;
	@include tablet{
		height: $header-height;
		padding-left: $header-padding-left;
		padding-right: $header-padding-right;		
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;	
		height: 100%;
	}
	&__logo{
		width: 70vw;
		display: block;
		// top:$header-logo-top-mobile;
		@include tablet{
			height: $header-logo-height;
			display: flex;	
			width: initial;	
			top: auto;
			left: auto;
			position: relative;
		}
	}
}
