.page{
	&__title{
		// padding-bottom: $section-spacer-default / 2;
		text-align: $page-title-align-generic; 
		padding-top: $page-padding-top-generic-mobile;		
		@include tablet{
			padding-top: $header-height;		
		}
	}
	&--generic{
		@include tablet{
			margin-right: $container-margin-medium;			
			margin-left: $container-margin-medium;				
		}
		margin-bottom: $section-spacer-default;
		margin-right: $container-margin-large;			
		margin-left: $container-margin-large;		
		display: flex;
		flex-direction: column;
		p{
			font-family: $font-text;
			font-size: 1.1em;
			line-height: 1.5;
			@include mobile{
				font-size: 1.2em;
			}
		}
		ul{
			@include mobile{
				//this is why grid rocks
				display: grid;
				grid-template-columns: repeat(2, auto);			
			}
		}
		li{
			// text-align: center;
			font-family: $font-headings;
			font-size: 1.5em;
			line-height: 2;		
			font-weight: 700;
		}
		h1{
			text-align: center
		}
		img{
			display: flex;
			&.aligncenter{justify-self: center;}
			width: 100%;
			height: auto;
			margin: $section-spacer-default/2 auto;
			@include tablet{
				width: initial;
				margin: ($section-spacer-default * .5) auto ;
			}
		}
	}
	&-template-class-page{
	.header{
		// position: $header-affix-home;
	}
	.qotd{
		margin-right: $container-margin-medium;
		margin-left: $container-margin-medium;
		margin-bottom: $section-spacer-default;
		@include tablet{
			padding-top: 0;			
		}
	}

	}
}

.single .site-main{
	margin-top: $header-height-mobile;				
	@include tablet{
		margin-top: $header-height;				
	}
}

.content-wrapper{
	overflow-x: hidden;
	// @include tablet{
	// 	overflow-x: auto;
	// 	overflow-y: hidden;
	// }
}

//hide main button on audio page. probably need to change this
	.page-template-default .slider__button{
		display: none;
	}