.about{
	&__title{
		//generic styles moved to page__title
	}
	&__sculpture{
		display: flex;
		align-items: center;
		width: 100vw;
		padding-left: $container-margin-large;
		padding-right: $container-margin-large;
		flex-direction: column;
		margin-bottom: $section-spacer-default ;
		@include tablet{
			flex-direction: row;
			margin-top: $section-spacer-default;
			margin-bottom: $section-spacer-default * 2;
		}
	}
}


.wysiwyg--about{
	flex: 100%;
	font-family: $font-text;
	font-weight: 200;
	font-size: $home-intro-text;
	font-weight: $home-intro-text-weight;
	padding-bottom: $section-spacer-default /2 ;
	@include tablet{
	padding-bottom: 2 * $section-spacer-default;
	padding-top: $section-spacer-default;
	padding-right: $section-spacer-default/2;
	}
	h1{
		margin-top:0;
	}
}

.about__sculpture .windowpane{
	// background: red ;
	// margin-right: $container-margin-large;
	// grid-row-gap: 0;
	// &__pane--about{
	// 	img{
	// 		width: auto;
	// 		height: 300px;
	// 		@include tablet{
	// 			// width: 60%;
	// 		}
	// 	}
	// }
}



//where did this come from?
.title-large--about{
	display: none;
}

.mission{
	color: white;
	h4{
		@include tablet{
			font-size: 24px;		
		}
		font-size: 22px;		
		font-family: $font-text;		
	}
	padding-top: $section-spacer-default;
	padding-bottom: $section-spacer-default;
	padding-left: $container-margin-large;
	padding-right: $container-margin-large;
	background-size: cover;
	background-position: 0 50%;

}

//awkwardly override bottom margin. maybe a better way?

// .page-id-529 .content-wrapper{
// 	margin-bottom: 0;
// }