
.class{
	&__description{
		font-family: $font-text;
		margin-top: $section-spacer-default;
		margin-bottom: none;
		padding-left: $container-margin-large;
		padding-right: $container-margin-large;
		display: flex;
		align-items: center;
		flex-direction: column;
		@include tablet{
			flex-direction: row;
			margin-bottom: $section-spacer-default;
		}
		@include xl{
			padding-left: $container-margin-medium;
			padding-right: $container-margin-medium;			
		}
		.windowpane{
			margin-bottom: $section-spacer-default;
			@include tablet{
				margin-bottom: inherit;
			}
		}
	}
}

// .wysiwyg--class{
// 	padding-top: $section-spacer-default;
// 	padding-bottom: $section-spacer-default * 2;
// 	padding-left: $container-margin-large;
// 	padding-right: $container-margin-large;
// 	background: $intro-paragraph-bg;	
// 	overflow: visible !important;
// 	background-size: auto 100%;
// 	font-family: $font-text;
// 	color: $intro-paragraph-color;
// 	font-size: $home-intro-text-mobile;
// 	font-weight: $home-intro-text-weight;
// 	// padding-bottom: 440px;
// 		&__description{
// 		font-size: $home-intro-text;
// 		font-size: 1.2em;
// 		background: none;
// 		padding-left: $container-margin-large/2;
// 	}
// }


.wysiwyg--class__description{
		font-size: $home-intro-text;
		font-size: 1.2em;
		background: none;
		padding-left: $container-margin-large/2;
}



.class__description .windowpane__pane:nth-child(2),
.class__description .windowpane__pane:nth-child(4){
	transform: translateY(48px);
}

//why's it like this? 
.class__description .windowpane__pane:nth-child(1),
.class__description .windowpane__pane:nth-child(4){
	// background: $color-swatch-headstand-1;
}
.class__description .windowpane__pane:nth-child(2),
.class__description .windowpane__pane:nth-child(3){
	// background: $color-swatch-headstand-4;
}

// .class__description .windowpane__pane:nth-child(2) img,
// .class__description .windowpane__pane:nth-child(3) img{
// 	margin-top: 30px;
// }

.class__description .windowpane__pane{
	margin-top: 0;
}

.buy-course{
	background-image: $anim-section-bg;
	background-size: auto 100%;
	background-repeat: no-repeat;
	overflow-y: visible;
	margin-top: $section-spacer-default;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-top: $anim-section-vertical-padding;
	padding-bottom: $anim-section-vertical-padding * 2;
	padding-left: $container-margin-large;
	padding-right: $container-margin-large;
	margin-bottom: -$anim-section-vertical-padding/1.5;
	@include tablet{
		padding:  $container-margin-large ;
		margin-bottom: $section-spacer-default;
		background-size: 100% 100%;
		flex-direction: row;		
		text-align: left;
	}
	@include xl{
		padding-left: $container-margin-medium;
		padding-right: $container-margin-medium;			
	}
	&__listing{
		@include tablet{
			flex: 50%;				
		}
		display: flex;
		align-items: flex-start;	
		flex-direction: column;
		margin: $anim-section-vertical-padding/2 auto auto auto;
	}
	&__price{
		font-family: $font-gothic;
		color: white !important;
		font-size: 3em;
		@include tablet{
			margin-bottom: 1em;			
		}
	}
	&__img{
		height: auto;
		width: 80%;	
		// @include mobile{
		// 	width: 60%;			
		// }
		@include tablet{
			flex: 50%;
			height: 400px;
			width: auto;	
			padding: 1em;			
		}
	}
	&__button {
		width: 100%;
		margin-top: $section-spacer-default;
		margin-bottom: $section-spacer-default;
		@include tablet{
			width: initial;
			margin-bottom: initial;
			margin-top: initial;
		}
		a{
		font-family: $font-headings;
		background: $button-color;
		font-size: 2em;
		color: white !important;
		padding: 16px 96px 16px 96px;
		text-align: center;
		width: fit-content;
		cursor: pointer;
		&:hover{
			background: $color-swatch-headstand-4;
			}
		}
	}
}
