{% extends "base.twig" %}

{%   block content %}
	<h1 class="about__title">{{ post.title }}</h1>
	{% include "partials/2col.twig" with {direction:'rtl'} %}
	}
	<div class="about__sculpture">
		{% include 'partials/wysiwyg.twig' with {location:'about'} %}
		{% include 'partials/windowpane.twig' %}
	</div>
	{% include 'partials/mission-statement.twig' %}
{%  endblock %}